idl/TestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--WSDL generated by CTrip WSDL Wizard Tool; version 2.0.3.2-->
<!--Thursday, 08-05-2014 - 10:08 PM-->
<definitions xmlns:import0="http://soa.ctrip.com/framework/soa/testservice/v1" xmlns:import2="http://soa.ctrip.com/mobile/common/types/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:import1="http://soa.ctrip.com/common/types/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="TestService" targetNamespace="http://soa.ctrip.com/framework/soa/testservice/v1" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="Types.xsd" namespace="http://soa.ctrip.com/framework/soa/testservice/v1" />
      <xsd:import schemaLocation="CTripSOACommonTypes_V1.0.0.xsd" namespace="http://soa.ctrip.com/common/types/v1" />
      <xsd:import schemaLocation="CTripSOAMobileCommonTypes_V1.0.0.xsd" namespace="http://soa.ctrip.com/mobile/common/types/v1" />
      <xsd:import schemaLocation="Messages.xsd" namespace="http://soa.ctrip.com/framework/soa/testservice/v1" />
    </xsd:schema>
  </types>
  <message name="checkHealthIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import1:CheckHealthRequest" />
  </message>
  <message name="checkHealthOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import1:CheckHealthResponse" />
  </message>
  <message name="getItemsIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:GetItemsRequest" />
  </message>
  <message name="getItemsOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:GetItemsResponse" />
  </message>
  <portType name="TestServiceInterface">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <operation name="CheckHealth">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="import0:checkHealthIn" />
      <output message="import0:checkHealthOut" />
    </operation>
    <operation name="GetItems">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="import0:getItemsIn" />
      <output message="import0:getItemsOut" />
    </operation>
  </portType>
  <binding name="BasicHttpBinding_TestServiceInterface" type="import0:TestServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CheckHealth">
      <soap:operation soapAction="http://soa.ctrip.com/framework/soa/testservice/v1:checkHealthIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetItems">
      <soap:operation soapAction="http://soa.ctrip.com/framework/soa/testservice/v1:getItemsIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TestService">
    <port name="TestServicePort" binding="import0:BasicHttpBinding_TestServiceInterface">
      <soap:address location="http://localhost/TestService" />
    </port>
  </service>
</definitions>